Repository HewlettPackard/shs-libcxi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers, @hpe/hpc-shs-cassini-enablement

SSHOTPFCMN-519: Move Loopback
  utils/cxi_stat.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

ASICFWDG-7079: CMIS CDB FW update timeout minimums
  utils/dgchs_fw.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

Add tests for RMU ethernet manager
  Makefile.am
  tests/libcxi_test_rmu_eth.c
  tests/run_vf_tests_vm.sh
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

Expose RMU ethernet manager API to userspace
  include/libcxi.h
  include/libcxi_priv.h
  src/libcxi.c
  src/libcxi.sym
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

build: Use common build script ce-devops
  build.sh
Owners: @hpe/hpc-shs-cassini-enablement

Expose RMU ethernet manager API to userspace
  include/libcxi.h
  include/libcxi_priv.h
  src/libcxi.c
  src/libcxi.sym
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

Add tests for RMU ethernet manager
  Makefile.am
  tests/libcxi_test_rmu_eth.c
  tests/run_vf_tests_vm.sh
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

ASICFWDG-7079: CMIS CDB FW update timeout minimums
  utils/dgchs_fw.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

tests: adjust service-test resources
  tests/libcxi_test_svc.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

Add template for parent service
  Makefile.am
  cray-libcxi.spec
  man/cxi_service.1.md
  man/man1/cxi_service.1
  utils/cxi_parent_service_template.yaml
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers, @hpe/hpc-shs-cassini-enablement

.github/CODEOWNERS:

*       @hpe/hpc-shs-ss11-codereviewers  @hpe/hpc-shs-libcxi-codereviewers
Jenkinsfile* @hpe/hpc-shs-cassini-enablement
run.*	@hpe/hpc-shs-cassini-enablement
build.sh	@hpe/hpc-shs-cassini-enablement
*.spec @hpe/hpc-shs-cassini-enablement
runBuildPrep.sh @hpe/hpc-shs-cassini-enablement
