Repository HewlettPackard/shs-libcxi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers, @hpe/hpc-shs-cassini-enablement

Update build.sh to use appropriate ce-devops branch
  build.sh
Owners: @hpe/hpc-shs-cassini-enablement

Update build.sh to use appropriate ce-devops branch
  build.sh
Owners: @hpe/hpc-shs-cassini-enablement

Update specfile rhel-10 Specific Changes
  cray-libcxi.spec
Owners: @hpe/hpc-shs-cassini-enablement

Added changes to handle unordered packet by retry
  retry_handler/ordered.c
  retry_handler/rh.h
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

Update specfile rhel-10 Specific Changes
  cray-libcxi.spec
Owners: @hpe/hpc-shs-cassini-enablement

Add cxil_alloc_trig_cp api
  include/libcxi.h
  src/libcxi.c
  src/libcxi.sym
  tests/ct.c
  tests/libcxi_test_common.c
  tests/libcxi_test_common.h
  tests/ucxi_test.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

Use new cxil_alloc_trig_cp api for tests
  tests/ct.c
  tests/libcxi_test.c
  tests/libcxi_test_common.c
  tests/libcxi_test_svc.c
  tests/rgid.c
  tests/rma.c
  utils/cxi_context.c
  utils/cxi_udp_gen.c
  utils/hip_cntr_test.cpp
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

Add cxil_alloc_trig_cp api
  include/libcxi.h
  src/libcxi.c
  src/libcxi.sym
  tests/ct.c
  tests/libcxi_test_common.c
  tests/libcxi_test_common.h
  tests/ucxi_test.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

Use new cxil_alloc_trig_cp api for tests
  tests/ct.c
  tests/libcxi_test.c
  tests/libcxi_test_common.c
  tests/libcxi_test_svc.c
  tests/rgid.c
  tests/rma.c
  utils/cxi_context.c
  utils/cxi_udp_gen.c
  utils/hip_cntr_test.cpp
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

cxi_service: Deprecate update
  man/cxi_service.1.md
  man/man1/cxi_service.1
  utils/cxi_service.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

re-enable ubuntu builds
  build.sh
Owners: @hpe/hpc-shs-cassini-enablement

fix path to sl-driver
  tests/virtualize.sh
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

Allocate CP with ANY_LCID for cxi utils
  utils/cxi_context.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

Allocate CP with ANY_LCID for cxi utils
  utils/cxi_context.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

Fix cxi_service to display right message for rgroup
  utils/cxi_service.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

Update RHEL-10 Setup in spec file to match DST changes
  cray-libcxi.spec
Owners: @hpe/hpc-shs-cassini-enablement

Update RHEL-10 Setup in spec file to match DST changes
  cray-libcxi.spec
Owners: @hpe/hpc-shs-cassini-enablement

Revert "Update RHEL-10 Setup in spec file to match DST changes"
  cray-libcxi.spec
Owners: @hpe/hpc-shs-cassini-enablement

Revert "Update RHEL-10 Setup in spec file to match DST changes"
  cray-libcxi.spec
Owners: @hpe/hpc-shs-cassini-enablement

memory: Rename ibv_* symbols to cxil_* for naming consistency
  src/memory.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

Fix improper signedness in ctrl_connection setup
  utils/ctrl_connection.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

Fix unitialized unions (and structs)
  utils/atomic_bw.c
  utils/atomic_lat.c
  utils/ctrl_connection.c
  utils/cxi_stat.c
  utils/heatsink_check.c
  utils/loopback_bw.c
  utils/read_bw.c
  utils/read_lat.c
  utils/send_bw.c
  utils/send_lat.c
  utils/utils_common.c
  utils/write_bw.c
  utils/write_lat.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

Added netns id in rgroup AC list to support RDMA over k8
  NEWS
  configure.ac
  include/libcxi.h
  man/cxi_service.1.md
  man/cxi_service.7.md
  src/libcxi.c
  src/libcxi.sym
  tests/libcxi_test_common.c
  tests/libcxi_test_common.h
  tests/libcxi_test_svc.c
  utils/cxi_service.c
  utils/cxi_service_template.yaml
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

Added netns id in rgroup AC list to support RDMA over k8 pods
  NEWS
  configure.ac
  include/libcxi.h
  man/cxi_service.1.md
  man/cxi_service.7.md
  src/libcxi.c
  src/libcxi.sym
  tests/libcxi_test_common.c
  tests/libcxi_test_common.h
  tests/libcxi_test_svc.c
  utils/cxi_service.c
  utils/cxi_service_template.yaml
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

PR Script fixes
  cxi_vm_pr.sh
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

ASICFWDG-2976: Cassini I2C headshell utility
  Makefile.am
  cray-libcxi.spec
  utils/dgchscore.sh
  utils/dgchsdump
  utils/dgchsget
  utils/dgchsset
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers, @hpe/hpc-shs-cassini-enablement

ASICFWDG-6128: dgchs_fw utility for CMIS FW updates
  Makefile.am
  cray-libcxi.spec
  utils/cmis_cdb.h
  utils/cmis_device.h
  utils/dgchs_fw.c
  utils/dgchs_i2c.c
  utils/dgchs_i2c.h
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers, @hpe/hpc-shs-cassini-enablement

ASICFWDG-2976: Cassini I2C headshell utility
  Makefile.am
  cray-libcxi.spec
  utils/dgchscore.sh
  utils/dgchsdump
  utils/dgchsget
  utils/dgchsset
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers, @hpe/hpc-shs-cassini-enablement

ASICFWDG-6128: dgchs_fw utility for CMIS FW updates
  Makefile.am
  cray-libcxi.spec
  utils/cmis_cdb.h
  utils/cmis_device.h
  utils/dgchs_fw.c
  utils/dgchs_i2c.c
  utils/dgchs_i2c.h
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers, @hpe/hpc-shs-cassini-enablement

correct sbl.ko path
  tests/virtualize.sh
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

Test using user buffer for cmdq
  tests/libcxi_test_common.c
  tests/libcxi_test_common.h
  tests/rma.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

Support user buffer for command queues
  NEWS
  configure.ac
  include/libcxi.h
  include/libcxi_priv.h
  src/libcxi.c
  src/libcxi.sym
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

Build with -Wmissing-prototypes
  configure.ac
  retry_handler/main.c
  retry_handler/stats.c
  src/memory.c
  tests/ct.c
  tests/libcxi_gpu_hip.c
  tests/libcxi_test.c
  tests/libcxi_test_common.c
  tests/map.c
  tests/rgid.c
  tests/rma.c
  utils/atomic_bw.c
  utils/atomic_lat.c
  utils/cxi_context.c
  utils/cxi_service.c
  utils/cxi_stat.c
  utils/dgchs_fw.c
  utils/heatsink_check.c
  utils/loopback_bw.c
  utils/read_bw.c
  utils/read_lat.c
  utils/send_bw.c
  utils/send_lat.c
  utils/utils_common.c
  utils/utils_common.h
  utils/write_bw.c
  utils/write_lat.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

fix for out of tree builds
  Makefile.am
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

maintenance: address some compiler warnings
  utils/cxi_service.c
  utils/cxi_stat.c
  utils/utils_common.c
  utils/utils_common.h
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

Update cassini-csr-defs and check for file existance
  configure.ac
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

Add CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

Update gitignore
  .gitignore
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

encassini-2518: Add csr_defs.json to cray-cassini-headers-public
  build.sh
  cray-libcxi.spec
Owners: @hpe/hpc-shs-cassini-enablement

Update tests for GPU CQ buffer support
  tests/libcxi_test_common.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

.github/CODEOWNERS:

*       @hpe/hpc-shs-ss11-codereviewers  @hpe/hpc-shs-libcxi-codereviewers
Jenkinsfile* @hpe/hpc-shs-cassini-enablement
run.*	@hpe/hpc-shs-cassini-enablement
build.sh	@hpe/hpc-shs-cassini-enablement
*.spec @hpe/hpc-shs-cassini-enablement
runBuildPrep.sh @hpe/hpc-shs-cassini-enablement
