Repository HewlettPackard/shs-libcxi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers, @hpe/hpc-shs-cassini-enablement

Performance change for write:
  src/libcxi.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

Tidy up formatting of change
  src/libcxi.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

revert rocm arti url for rhel-9.5
  runBuildPrep.sh
Owners: @hpe/hpc-shs-cassini-enablement

task: add cos-3.3 gpu branch
  runBuildPrep.sh
Owners: @hpe/hpc-shs-cassini-enablement

ASICFWDG-5059: fixes for socket timeouts when run on C2 systems
  cray-libcxi.spec
  utils/atomic_bw.c
  utils/atomic_lat.c
  utils/ctrl_connection.c
  utils/read_bw.c
  utils/read_lat.c
  utils/send_bw.c
  utils/send_lat.c
  utils/utils_common.c
  utils/utils_common.h
  utils/write_bw.c
  utils/write_lat.c
Owners: @hpe/hpc-shs-cassini-enablement, @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

ASICFWDG-5079 fix for cxi_gpu_loopback_bw socket errors
  utils/utils_common.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

rh: Dynamically select SCT TO retry interval
  retry_handler/main.c
  retry_handler/ordered.c
  retry_handler/rh.h
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

Add --with-cassini_csr_defs option
  Makefile.am
  configure.ac
  utils/cxi_dump_csrs.py
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

remove unneeded error reporting
  src/libcxi.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

RH: Honor user provided retry_intervals
  retry_handler/config.c
  retry_handler/cxi_rh.conf
  retry_handler/main.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

Fix downstream libfabric jenkins path
  Jenkinsfile.cxi_vm
Owners: @hpe/hpc-shs-cassini-enablement

Remove irrelevant size verbiage from options
  utils/atomic_bw.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

RH: Fix exit behavior
  retry_handler/main.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

RH: Fix exit behavior
  retry_handler/main.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

RH: Fix exit behavior
  retry_handler/main.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

Add modprobe configfs
  tests/virtualize.sh
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

build: Enable Debian build
  build.sh
  run.jenkins
  run.local
Owners: @hpe/hpc-shs-cassini-enablement

cxi_device_list: display NID in decimal not hex
  tests/cxi_device_list.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

Fix send_lat IDC size boundary
  utils/send_lat.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

Improve method of avoiding cxi_send_lat de-sync
  man/cxi_atomic_bw.1.md
  man/cxi_atomic_lat.1.md
  man/cxi_gpu_loopback_bw.1.md
  man/cxi_heatsink_check.1.md
  man/cxi_read_bw.1.md
  man/cxi_read_lat.1.md
  man/cxi_send_bw.1.md
  man/cxi_send_lat.1.md
  man/cxi_write_bw.1.md
  man/cxi_write_lat.1.md
  man/man1/cxi_atomic_bw.1
  man/man1/cxi_atomic_lat.1
  man/man1/cxi_gpu_loopback_bw.1
  man/man1/cxi_heatsink_check.1
  man/man1/cxi_read_bw.1
  man/man1/cxi_read_lat.1
  man/man1/cxi_send_bw.1
  man/man1/cxi_send_lat.1
  man/man1/cxi_write_bw.1
  man/man1/cxi_write_lat.1
  utils/atomic_bw.c
  utils/atomic_lat.c
  utils/ctrl_connection.c
  utils/heatsink_check.c
  utils/loopback_bw.c
  utils/read_bw.c
  utils/read_lat.c
  utils/send_bw.c
  utils/send_lat.c
  utils/utils_common.c
  utils/utils_common.h
  utils/write_bw.c
  utils/write_lat.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

Fix send_lat IDC size boundary
  utils/send_lat.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

Improve method of avoiding cxi_send_lat de-sync
  man/cxi_atomic_bw.1.md
  man/cxi_atomic_lat.1.md
  man/cxi_gpu_loopback_bw.1.md
  man/cxi_heatsink_check.1.md
  man/cxi_read_bw.1.md
  man/cxi_read_lat.1.md
  man/cxi_send_bw.1.md
  man/cxi_send_lat.1.md
  man/cxi_write_bw.1.md
  man/cxi_write_lat.1.md
  man/man1/cxi_atomic_bw.1
  man/man1/cxi_atomic_lat.1
  man/man1/cxi_gpu_loopback_bw.1
  man/man1/cxi_heatsink_check.1
  man/man1/cxi_read_bw.1
  man/man1/cxi_read_lat.1
  man/man1/cxi_send_bw.1
  man/man1/cxi_send_lat.1
  man/man1/cxi_write_bw.1
  man/man1/cxi_write_lat.1
  utils/atomic_bw.c
  utils/atomic_lat.c
  utils/ctrl_connection.c
  utils/heatsink_check.c
  utils/loopback_bw.c
  utils/read_bw.c
  utils/read_lat.c
  utils/send_bw.c
  utils/send_lat.c
  utils/utils_common.c
  utils/utils_common.h
  utils/write_bw.c
  utils/write_lat.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

Support cp modify for exclusive cp in libcxi
  include/libcxi.h
  src/libcxi.c
  src/libcxi.sym
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

Add test for cp_modify api for modifying exclusive cp
  tests/atomic.c
  tests/fork.c
  tests/libcxi_test.c
  tests/libcxi_test_common.c
  tests/libcxi_test_common.h
  tests/map.c
  tests/msg.c
  tests/profile.sh
  tests/rendezvous.c
  tests/rma.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

Use 1 in place of true for writing tx profile
  tests/profile.sh
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

Fix test syntax error
  tests/libcxi_test_svc.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

Adjust to cxi-driver restricted_vnis change
  tests/libcxi_test_svc.c
  tests/rgid.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

Added changes to handle unordered packet by retry
  retry_handler/ordered.c
  retry_handler/rh.h
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

Interfaces to support exclusive_cp and vni range for a svc
  include/libcxi.h
  src/libcxi.c
  src/libcxi.sym
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

Test set/get vnis and exclusive_cp fields
  tests/libcxi_test_svc.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

Retry handler changes to support lack of service profiles
  retry_handler/main.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

Test ac entry translation from service members values
  tests/libcxi_test_svc.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

Remove setting members[1] as it is unused and hides an error
  tests/libcxi_test_svc.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

RH: Use restricted_vnis = 1
  retry_handler/main.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

vni range support for cxi_service utility
  utils/cxi_service.c
  utils/cxi_service_template.yaml
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

Add support for libfuse 3.x
  configure.ac
  retry_handler/rh.h
  retry_handler/stats.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

Remove errx call before cxil_destroy_svc() API
  utils/cxi_service.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

cxi_service man page update for vni range & ex cp
  man/cxi_service.1.md
  man/cxi_service.7.md
  man/man1/cxi_service.1
  man/man7/cxi_service.7
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

cxi_service: Deprecate update
  man/cxi_service.1.md
  man/man1/cxi_service.1
  utils/cxi_service.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-libcxi-codereviewers

Disabled ubuntu build temp
  build.sh
Owners: @hpe/hpc-shs-cassini-enablement

.github/CODEOWNERS:

*       @hpe/hpc-shs-ss11-codereviewers  @hpe/hpc-shs-libcxi-codereviewers
Jenkinsfile* @hpe/hpc-shs-cassini-enablement
run.*	@hpe/hpc-shs-cassini-enablement
build.sh	@hpe/hpc-shs-cassini-enablement
*.spec @hpe/hpc-shs-cassini-enablement
runBuildPrep.sh @hpe/hpc-shs-cassini-enablement
